@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600;
  }
}

.ProseMirror {
  min-height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.ProseMirror-focused {
  border-color: #3b82f6;
}
